<nav class="navbar navbar-expand justify-content-around">
    <a href="/" class="fs-3 text-white text-decoration-none">
        Blynn's Book Club
    </a>
    <div class="navbar-expand" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link text-danger" href="/" id = "navLink1">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-danger" href="/library" id = "navLink2" >Library</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-danger" href="/aboutus" id = "navLink3" >About Us</a>
            </li>
        </ul>
    </div>
</nav>