<div class="container d-flex justify-content-around border">
    <a href="/" class="fs-3 text-white text-decoration-none"> Home </a>
    <a href="/library" class="fs-3 text-white text-decoration-none"> Library </a>
    <a href="/aboutus" class="fs-3 text-white text-decoration-none"> About </a>
    </div>