body {
  background-color: black;
  background-size: cover;
  height: 100vh;
}

h1 {
  color: white;
}

h1 img {
  width: 20%;
  height: 20%;
}

.img-wrapper img {
  height: 100%;
}

.card-body {
  background-color: darkred;
  transition: background 1s;
}

.card-body:hover {
  background-color: dimgray;
  background-size: cover;
}

.view75 {
  height: 75vh;
}

.view100 {
  height: 100vh;
}

.img {
  width: 80vw;
  height: 80vh;
  margin: 0 auto;
}

.carousel-control-prev-icon {
  border: solid white 1px;
}

.carousel-control-next-icon {
  border: solid white 1px;
}

.latest-reviews {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}

.book {
  border: solid white 1px;
  width: 200px;
  height: 200px;
}

.book-description {
  /* border: solid white 1px; */
  /* transform: translateY(250px); */
  color: white;
  /* display: -webkit-box;
    max-width: 200px;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden; */
}

.book-img {
  /* transform: translate(-1px, -41px); */
  width: 200px;
  height: 200px;
}

#myBtn1 {
    color: red;
    text-decoration: underline;
}

#myBtn2 {
    color: red;
    text-decoration: underline;
}

#myBtn3 {
    color: red;
    text-decoration: underline;
}

#more1 {
    display: none;
}

#more2 {
    display: none;
}

#more3 {
    display: none;
}